@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


*{
  padding: 0;
  margin: 0;
}

/****************************** Header CSS **************************** */
.headeri{
  width: 100%;
  height: 10vh;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Quicksand';
  border-bottom: 1px groove #95a5a6;
}
header .firstdiv{
  display: flex;
  align-items: center;
  gap: 2vw;
}
header .name {
  font-size: 23px;
  padding-left: 10px;
}

.useri{
  display: flex;
  align-items: center;
  padding-right: 20px ;
  font-size: 25px;
}
.useri button{
  background: none;
  border: none;
}
.i{
  font-size: 45px;
}

/****************************** Sidebar CSS **************************** */

.sidebari ul{
  text-decoration: none;
  font-size: 23px;
  border: none;
  font-family: 'Quicksand';
  cursor: pointer;
  list-style: none;
}
.sidebari li{
  padding-top: 1.5vh;
}
.sidebari .buttoni {
  text-decoration: none;
  color: #bdbdbd;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebari a {
  text-decoration: none;
}
.sidebari .icona{
  font-size: 30px;
}

.sidebari {
  height: 89.9vh;
  width: 5.5vw;
  padding: 0 0.6vw;
  display: flex;
  flex-direction: column;
  border-right: 1px groove #bdbdbd;
}
.sidebari .active .buttoni{
  color: #2E636E;
}
.sidebari li:hover{
  color: #2e2e2e;
}


/****************************** App.js CSS **************************** */

.Body{
  display: flex;
}

/****************************** Home CSS **************************** */

.searchi {
  display: flex;
  justify-content: space-between;
  margin: 3vh 0 0 2vw;
  width: 90vw;
  height: fit-content;
}
.searchi input{
  width: 245px;
  height: 40px;

  background: #ECF3F5;
  border-radius: 10px;

  font-family: 'Quicksand';
  font-size: 15px;
  padding-left: 7px;
  border: none;
}

.searchi button{
  width: 130px;
  height: 35px;
  font-family: 'Inter';
  font-size: 15px;
  color: #ffff;
  background: #1A8FDD;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

.buttonat{
  display: flex;
  margin-right: 1.5vw;
  gap: 1.5vw;
}
.searchicon{
  font-size: 25px;
  margin-left: -35px;
  cursor: pointer;
}
.searchdivi{
  display: flex;
  align-items: center;
}

.maini{
  padding: 5vh 0 0 2vw;
  display: flex;
  flex-wrap: wrap;
  gap: 45px 35px;
}
.kubi{
  background: rgba(217, 217, 217, 0.5);
  border-radius: 12px;
  width: 336px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.kubi img {
  width: 70px;
  height: 70px;
  margin-left: -15px;
  box-shadow: none;
}
.kubi button{
  width: 100px;
  height: 40px;
  background: #1A8FDD;
  border-radius: 10px;
  color: #272727;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}
.kubi h1{
  font-size: 20px;
  padding-top: 15px;
  font-family: 'Inter';
}

/****************************** Users CSS **************************** */

.userbox{
  width: 700px;
  height: 600px;
  background: rgba(217, 217, 217, 0.5);
  border-radius: 15px;
  margin: 5vh 0 0 15vw;
  display: flex;
  
}
.first{
  margin: 43px 0 0 2vw;
}
.fotoja{
  width: 100px;
  height: 100px;
  background-color: #ECF3F5;
  padding: 20px;
}
.first h5{
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #000000;
}
.first .bold{
  font-weight: 800;
}

.inputat{
  margin: 65px 0 0 2vw;
  display: flex;
  flex-direction: column;
  width: 292px;
  height: 198px;
  justify-content: space-between;
}
.inputat input{
  height: 40px;
  background: #ECF3F5;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #89928E;
}