@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


*{
  padding: 0;
  margin: 0;
}

/****************************** Header CSS **************************** */
.headeri{
  width: 100%;
  height: 10vh;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Quicksand';
  border-bottom: 1px groove #95a5a6;
}
header .firstdiv{
  display: flex;
  align-items: center;
  gap: 2vw;
}
header .name {
  font-size: 23px;
  padding-left: 10px;
}

.useri{
  display: flex;
  align-items: center;
  padding-right: 20px ;
  font-size: 25px;
}
.useri button{
  background: none;
  border: none;
}
.i{
  font-size: 45px;
}

/****************************** Sidebar CSS **************************** */

.sidebari ul{
  text-decoration: none;
  font-size: 23px;
  border: none;
  font-family: 'Quicksand';
  cursor: pointer;
  list-style: none;
}
.sidebari li{
  padding-top: 1.5vh;
}
.sidebari .buttoni {
  text-decoration: none;
  color: #bdbdbd;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebari a {
  text-decoration: none;
}
.sidebari .icona{
  font-size: 30px;
}

.sidebari {
  height: 89.9vh;
  width: 5.5vw;
  padding: 0 0.6vw;
  display: flex;
  flex-direction: column;
  border-right: 1px groove #bdbdbd;
}
.sidebari .active .buttoni{
  color: #2E636E;
}
.sidebari li:hover{
  color: #2e2e2e;
}